/* ListGroup.module.css */

.container {
    padding: 20px;
    background-color: rgb(29, 10, 109);
  }
  
  .title {
    text-align: center;
    color: #343a40;
  }
  
  .listGroup {
    background-color: rgb(22, 22, 90);
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-align: right; /* Align inline-block items to the right */
  }
  
  .listItem {
    display: inline-block; /* Keep items inline-block */
    background-color: rgb(22, 22, 90);
    color: white; /* Text color */
    margin: 0 5px 5px 0; /* 5px space between items horizontally and below */
    padding: 5px;
    width: 200px; /* Fixed width */
  }
  
  
  